<#
    .SYNOPSIS
        The localized resource strings in English (en-US) for the
        resource DnsRecord<%= $PLASTER_PARAM_ResourceRecordType %>.
#>

ConvertFrom-StringData @'
    GettingDnsRecordMessage   = Getting DNS record '{0}'.
    CreatingDnsRecordMessage  = Creating {0} record.
'@

